.navbar {
  display: flex;
  justify-content: space-evenly;
  background-color: #20042d;
  padding: 10px 20px;
  
}

.navbar button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  border-radius: 190px;
  font-weight: bold;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.navbar button:hover {
  background-color: #e72b6f;
  border-radius: 190px;
}
